.navbar-brand{
	padding: 2px;
}
body{
	font-size: 13px;
}
h1{
	font-weight: bold;
	color: darkblue;
	text-align: center;
}
.title{
	padding-top: 0.5em;
    color: #FF6600;
    font-weight: bold;
    font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: inherit;"
}
.etapa{
	padding-left: 20px;
}
.red{
	background-color: red;
	height: 200px
}
.blue{
	background-color: blue;
	height: 200px
}
.green{
	background-color: green;
	height: 200px
}
.purple{
	background-color: purple;
	height: 200px
}