.navbar-brand{
	padding: 2px;
}
body{
	font-size: 13px;
}
h1{
	font-weight: bold;
	color: darkblue;
	text-align: center;
}
.red{
	background-color: red;
	height: 200px
}
.blue{
	background-color: blue;
	height: 200px
}
.green{
	background-color: green;
	height: 200px
}
.purple{
	background-color: purple;
	height: 200px
}